footer
{
    color : #777777;
    font-size : small;
    text-align: center;
}

#inputAnswer
{
	color : #777777;
	text-align: center;
}
/* voir si on ne peut pas mutualiser le 18px qqpart */
#textQuestion
{
	text-align:center;
	font-size : 18px;
	margin-bottom : 20px;
}

#zoneResultat
{
	text-align:center;
	font-size:18px;
}

#labelScore
{
	font-size:18px;
}

.wrongAnswer
{
    text-decoration:line-through;
}

#textScoreTitle
{
	text-align:right;
}
/* utilisé pour avoir le score a droite dans le titre du test*/
.alignleft {
	float: left;
}
.alignright {
	float: right;
}