footer
{
    color : #777777;
    font-size : small;
    text-align: center;
}

#inputAnswer
{
	color : #777777;
	text-align: left;
}

#textQuestion
{
	font-size : 18px;
}

#zoneResultat
{
	text-align:center;
	font-size:18px;
}

.wrongAnswer
{
    text-decoration:line-through;
}

